.MenuItem {
    /* background: red; */

    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    /* max-width: 100; */
    padding: 5px;
    margin: 5px;
    text-align: center;
    flex: 1 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MenuItem > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

.MenuItem:hover {
    font-weight: 700;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.MenuBtn {
    padding: 10px;
    background: green;
}

