#mainArticle {
  display: grid;
  grid-template-areas:
  "one one two"
  "three four four";
  /* grid-template-columns: 30% 1fr 15%; */
  /* grid-template-rows: 60px 1fr 60px; */
  /* grid-template-columns: 20% 1fr 15%; */
  grid-gap: 1px;
  /* weight: 100%; */
}

#mainArticle>div {
    padding: 20px;
    background: #e0e7ea;
    weight: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-basis: fit-content;
    }

#mainArticle>div>img {
    weight: 100%;
    /* height: 100%;  */
    height: 200px;
}

#mainOne {
    grid-area: one;
}

#mainTwo {
    grid-area: two;
}

#mainThree {
    grid-area: three;
}

#mainFour {
    grid-area: four;
}