#pageHeader > div {
    
}

div.HeaderSearch {
    grid-area: search;
}

div.HeaderUser {
    grid-area: user;
    margin-top: -5px;
    margin-right: -30px;
    align-content: right;
    display: flex;
    align-items: right;
    justify-content: center;

}

div.HeaderSearch input[type=text] {
    width: 100%;
    float: right;
    padding: 6px;
    border: 1px solid #ccc;
    margin-top: -5px;
    font-size: 17px;
  }

  @media screen and (max-width: 600px) {
    div.HeaderSearch input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }

    div.HeaderSearch input[type=text] {
      border: 1px solid #ccc;
    }
}