body {
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;

    } 


#main {
  display: grid;
  grid-template-areas:
  "icon header header"
  "nav article article"
  "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;

  }

#main>header, #main>footer, #main>article, #main>nav, #main>div {
  padding: 20px;
  /* background: gold; */
  }
  #pageHeaderIcon {
    grid-area: icon;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  #pageHeaderIcon img {
    max-width:100%;
    /* max-height:100%; */

  }

  #pageHeader {
  grid-area: header;
  display: grid;
  grid-template-areas:
  "search search user";
  grid-template-columns: 30% 1fr 20%;
  grid-gap: 10px;
  
  }
  #pageFooter {
  grid-area: footer;
  background-color: #e0e7ea;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  }
  #mainArticle {
  grid-area: article;
  }
  #mainNav {
  grid-area: nav;
  display: flex;
  flex-flow: row wrap;
  }
  #siteAds {
  grid-area: ads;
  }